<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="/head">
</head>
<style>
h4 {
	font-weight: bold;
	color: #FE9F03;
}

.caption p {
	font-size: 1.5rem;
}

.thumbnail:hover {
	border: 1px solid #FE9F03;
}

.card {
	box-shadow: none;
}
</style>
<body style="background-color: #F5F5F5; width: 100%">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="card">
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526423884&amp;spider_token=95d0&amp;spider=seller.zx-shopdetail.5.1"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/1-国乒卡通T恤.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>国乒卡通T恤</h4>
									<p>乒乓在沃主题纪念T恤，国乒卡通肖像款，黄、蓝两色，100%纯棉材质。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526422123&amp;spider_token=793c&amp;spider=seller.zx-shopdetail.5.2"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/2-u盘.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>U盘</h4>
									<p>乒乓在沃定制U盘，木质球拍造型彰显个性，小巧玲珑携带便捷。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526418355&amp;spider_token=eb6a&amp;spider=seller.zx-shopdetail.5.3"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/3-获奖证书.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>获奖证书</h4>
									<p>乒乓在沃获奖证书，办赛必备。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526418620&amp;spider_token=6295&amp;spider=seller.zx-shopdetail.5.4"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/4-赛事奖牌.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>赛事奖牌</h4>
									<p>乒乓在沃专属奖牌，金银铜三款，办赛必备。</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card">

					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526450043&amp;spider_token=ca16&amp;spider=seller.zx-shopdetail.5.6"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/6-乒乓在沃第六届赛事徽章.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>乒乓在沃第六届赛事徽章</h4>
									<p>第六届乒乓在沃主题徽章，“6”为主体造型，联通司标流线，搭配赛事logo，共同组成本届赛事官方纪念徽章。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526420617&amp;spider_token=50b6&amp;spider=seller.zx-shopdetail.5.7"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/7-乒乓在沃定制乒乓球.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>乒乓在沃定制乒乓球</h4>
									<p>银河铂力红三星S40+乒乓球，乒乓在沃赛事指定用球，印有乒乓在沃logo，一盒6只装。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526444407&amp;spider_token=6b6b&amp;spider=seller.zx-shopdetail.5.9"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/8-水杯.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>水杯</h4>
									<p>国乒队员卡通肖像高质量保温杯，乒乓在沃专属纪念产品，运动生活必备。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a
								href="https://weidian.com/item.html?itemID=2526417091&amp;spider_token=670f&amp;spider=seller.zx-shopdetail.5.11"
								target="block" title="点击跳转到购买页面"><img
								th:src="@{{path}/images/product/9-雨伞.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>雨伞</h4>
									<p>乒乓在沃定制雨伞，橙色呼应赛事主题，印制联通及赛事logo，防雨也防晒。</p>
								</div> </a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card">

					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a href="https://weidian.com/item.html?itemID=2528687227"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/10-乒乓球服.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>乒乓球服</h4>
									<p>银河定制款乒乓在沃主题运动T恤，速干材质，穿着舒适，两色可选。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a href="https://weidian.com/item.html?itemID=2528685414"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/11-球拍包.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>球拍包</h4>
									<p>银河定制款乒乓在沃主题球拍包，乒乓运动必备品，给球拍完美保护。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a href="https://weidian.com/item.html?itemID=2528578957"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/12-银河特制国木反胶套胶.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>银河特制国木反胶套胶（可做奖品）</h4>
									<p>全新木星（国字）聚能套胶针对新材料球量身打造。粘性胶皮保证良好的摩擦性，更加适合亚洲选手的技术特点。</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a href="https://weidian.com/item.html?itemID=2528608212"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/13-银河970XX-K底板.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>银河970XX-K底板（可做奖品）</h4>
									<p>银河970XX-K底板是经典970底板二十周年升级款。</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card">

					<div class="col-sm-4 col-md-3">
						<div class="thumbnail">
							<a href="https://weidian.com/item.html?itemID=2528608244"
								target="block" title="点击跳转到购买页面"> <img
								th:src="@{{path}/images/product/14-银河特制A8底板.jpg(path=${contextPath})}" />
								<div class="caption">
									<h4>银河特制A8底板（可做奖品）</h4>
									<p>银河A8特制底板根据国家队标准定制，采用最新型PLC军工纤维，0.8mm厚KOTO提升底板的控制和力量。A8底板针对亚洲选手的手感和喜好进行了调整，既保证中近台的速度优势，还保证了中远台的威胁。</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


