<form class="form-horizontal" id="form" method="post">
	<div class="form-group">
		<label class="col-md-3 control-label">资料名称</label>
		<div class="col-md-8">
			<input name="dadaName" type="text" placeholder="请输入资料名称"
				class="form-control" autocomplete="off" required="required"
				maxlength="20" th:value="${m.dadaName}" /> <input name="dadaId"
				type="text" hidden="true" class="form-control" autocomplete="off"
				style="display: none;" maxlength="200" th:value="${m.dadaId}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">资料地址</label>
		<div class="col-md-8">
			<input name="dadaUrl" type="text" placeholder="请输入资料地址(不支持ip地址)"
				class="form-control" value="" autocomplete="off" maxlength="480"  url="url"  
				required="required" th:value="${m.dadaUrl}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">下载密码</label>
		<div class="col-md-8">
			<input name="dadaPassword" type="text" placeholder="请输入下载密码"
				class="form-control" value="" autocomplete="off" maxlength="20"
				th:value="${m.dadaPassword}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">资料说明</label>
		<div class="col-md-8">

			<textarea name="dadaDesc" rows="5" cols="2" maxlength="150"
				class="form-control" placeholder="请输入资料说明" th:text="${m.dadaDesc}">  </textarea>
		</div>
	</div>
</form>

<script>
	$("#form")
			.validate(
					{
						submitHandler : function(form) {
							parent.BootstrapDialog.dialog
									.enableButtons(false);
							$('#form')
									.ajaxSubmit(
											{
												url : getRootPath_web()
														+ '/dataInfoController/edit',
												success : function(
														data) {
													if (data.success) {
														parent.BootstrapDialog.dialog
																.close();
														parent.BootstrapDialog.table
																.bootstrapTable('refresh');
														parent.swal(
																'',
																data.msg,
																'success')
													} else {
														parent.BootstrapDialog.dialog
														.enableButtons(true);
														parent.swal(
																'',
																data.msg,
																'error')
													}
												},
											});
						}
					});

</script>
