<script type="text/javascript">
    $('#datepicker').datetimepicker(
        {
            language : 'zh-CN',
            format : "yyyy-mm-dd",
            minView : 2,
            autoclose : 1,
            startView : 3,
        });

    $("#form").validate(
        {
            submitHandler : function(form)
            {
                parent.BootstrapDialog.dialog.enableButtons(false);
                $('#form').ajaxSubmit(
                    {
                        //todo
                        url : getRootPath_web() + '/deviceController/add',
                        success : function(data)
                        {
                            if (data.success)
                            {
                                parent.BootstrapDialog.dialog.close();
                                parent.BootstrapDialog.table.bootstrapTable('refresh');
                                parent.swal('', data.msg , 'success')
                            }
                            else
                            {
                                parent.BootstrapDialog.dialog.enableButtons(true);
                                parent.swal('', data.msg, 'error')
                            }
                        },
                    });
            }
        });


</script>
<form class="form-horizontal" id="form" method="post">
    <div class="form-group">
        <label class="col-md-3 control-label">设备ID</label>
        <div class="col-md-8">
            <input name="deviceId" type="text" placeholder="请输入设备ID" class="form-control" value="" autocomplete="off" required="required" maxlength="20" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">设备信息</label>
        <div class="col-md-8">
            <input name="deviceInfo" type="text" placeholder="请输入设备信息" class="form-control" value="" autocomplete="off" required="required" maxlength="20" />
        </div>
    </div>

</form>
