<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 该配置影响的所有映射器中配置的缓存的全局开关。默认值true -->
		<setting name="cacheEnabled" value="true" />


	</settings>
</configuration>