<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{{path}/css/bootstrap.min.css(path=${contextPath})}" rel="stylesheet" />
</head>
<body>
<div class="row">
	<div class="col-md-8 col-sm-offset-2 text-center">
		<img th:src="@{{path}/images/500.jpg(path=${contextPath})}" style="width:100%;max-width: 550px;"/>
		<div style="color:#468BCE; font-weight: bold;font-size: 30px">500服务器内部异常...</div>
	</div>
</div>
</body>
</html>