<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/head">
</head>
<body>

	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand">NFC智能卡测试日志管理平台</span>
			</div>
		</div>
	</nav>


	<div class="wrapper wrapper-full-page">
		<div class="full-page login-page" data-color="orange">
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-sm-6  col-sm-offset-3 col-md-6  col-md-offset-3">
							<form id="form" method="post" action="#">
								<div class="card">
									<div class="header text-center">
										<!-- <img src="./images/logo_l.png" width="200" height="111" /> -->
										<img th:src="@{{path}/images/logo.png(path=${contextPath})}" />
									</div>
									<div class="content">
										<div class="form-group">
											<input type="text" name="name" placeholder="请输入用户名/手机号/邮箱登录" class="form-control" AUTOCOMPLETE="off" required="required" maxlength="25" />
										</div>
										<div class="form-group">
											<input type="password" name="pwd" id="pwd" placeholder="请输入密码" class="form-control" AUTOCOMPLETE="off" required="required" />
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-xs-6 col-sm-6 col-md-6 ">
													<input type="text" id="verifycode" name="verifycode" class="form-control" maxlength="4" placeholder="请输入验证码" autocomplete="off" required="required" />
												</div>
												<div class="col-xs-6 col-sm-6 col-md-6 ">
													<img id="img" title="点击刷新" align="absmiddle" style="cursor: pointer; height: 40px;" onClick="getVerifycode()" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<div id="message" style="color: red"></div>
										</div>
									</div>
									<div class="footer text-center">
										<button type="submit" class="btn btn-fill btn-warning btn-wd">登录</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="full-page-background bgcs"></div>
		</div>
	</div>



</body>
<div th:include="/jslib::jslib"></div>
<script th:src="@{{path}/js/laser.login.js(path=${contextPath})}" type="text/javascript"></script>

<script th:src="@{{path}/js/sha256.js(path=${contextPath})}" type="text/javascript"></script>
</html>